@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar{
  width: 8px;
  background-color: #202227;
}
body::-webkit-scrollbar-button{
  background-color: #3131319d;
}
body::-webkit-scrollbar-track{
  background-color: #5c5d5ebd;
}